*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vid{
width: 100%;
height: 100vh;
background-color: rgba(4, 4, 49, 0.515);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.wrap{
  width: 60%;
  height: 80%;
  background-color: #fff;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 10px;
}
h1{
  width: 90%;
  margin-top: 30px;
}